// Personal Colors
$minimalism-darker: #284777
$minimalism-dark: #486696
$minimalism: #758FB8
$minimalism-light: #AEC0DD
$minimalism-lighter: #E5ECF7

$financial-darker: #258C32
$financial-dark: #4CB058
$financial: #7DD087
$financial-light: #B2E8B9
$financial-lighter: #E5FAE8

$mindfulness-darker: #4E287A
$mindfulness-dark: #704999
$mindfulness: #9776BC
$mindfulness-light: #F0EEF9
$mindfulness-lighter: #F0EEF9
$mindfulness-lighter-header: rgba(240,238,249, 0.85)

// Bootstrap
$body-bg: #fff
$font-family-sans-serif: 'Lato', sans-serif
$line-height: 1.8
$font-size-root: 19px
$gray-dark: #555
$gray-light: #999
$gray-lightest: #eee

$jumbotron-bg: #fff


$container-max-widths: (sm: 576px, md: 720px, lg: 940px, xl: 1100px)

$brand-primary: $minimalism

$small-breakpoint: 544px
$medium-breakpoint: 768px
$large-breakpoint: 992px
