// Personal Colors
$primary-color: #4cb058;
$secondary-color: lighten($primary-color, 40%);

$nav-height: 88px;
$container-size: 1140px;
$slim-container-size: 800px;

// Bootstrap
$body-bg: #fff;
$font-family-sans-serif: "Open Sans",Arial,"Helvetica Neue",Helvetica,sans-serif;
$font-family-serif: "Open Sans",Arial,"Helvetica Neue",Helvetica,sans-serif;
$line-height: 1.8;

$breadcrumb-bg: #fff;
$breadcrumb-divider-color: $primary-color;
$breadcrumb-active-color: $primary-color;
$breadcrumb-divider: " | ";

$font-size-base: 1.375rem;
$font-size-lg:   1.6rem;
$font-size-sm:   1.1rem;

$line-height-base: 1.6;
$line-height-lg: 1.8;
$line-height-sm: 1.5;

$black: rgb(0,0,0);
$gray-dark: rgba(0,0,0,0.8);
$gray: $gray-dark;
$gray-light: #999;
$gray-lighter: $gray-light;
$gray-lightest: #eee;

$green: $primary-color;
$gray-600: $gray-dark;
$yellow: #ffc107;
$red: #dc3545;
$text-muted: rgba(0,0,0,0.6);



$theme-colors: (
  primary: $primary-color,
  secondary: $gray-600,
  success: $green,
  warning: $yellow,
  danger: $red,
  light: $gray-light,
  dark: $gray-dark
);
