@import 'config/variables'
@import '../components/bootstrap/scss/bootstrap'
@import '../components/font-awesome/scss/font-awesome'

@import 'components/article'
@import 'components/articles'
@import 'components/colors'
@import 'components/categories'
@import 'components/comments'
@import 'components/dropdown'
@import 'components/footer'
@import 'components/latest-article'
@import 'components/navbar'
@import 'components/related-posts'
@import 'components/aesop'
@import 'components/subtitles'
@import 'components/hero'

img
  max-width: 100%

h1, h2, h3, h4, h5, h6
  font-weight: 700
  color: rgba(0,0,0,0.8)
  font-family: $font-family-sans-serif

// Move over 2columns and allow for 12 columns of width
.full-width
  margin-left: -26%
  width: 156%

.first-content
  margin-top: 1rem


img
  max-width:100% !important
  height:auto !important
