.article-single--wrapper
  margin-top: 2rem
  a
    text-decoration: underline
    &:hover
      text-decoration: none

.article--singular
  position: relative
  a
    text-decoration: underline
    &:hover
      text-decoration: none

.article--poster
  max-width: $container-size
  margin: 2rem auto 4rem
  img
    margin: 0 auto
    display: block

.article--header
  max-width: 1140px !important
  h1
    margin-bottom: 0.3rem
    padding-bottom: 0.6rem
    -webkit-font-smoothing: antialiased
    -webkit-margin-after: 0px
    -webkit-margin-before: 0px
    -webkit-margin-end: 0px
    -webkit-margin-start: -2.5px
    letter-spacing: -2px
    text-rendering: optimizeLegibility
    text-align: center

.article-subtitle
  color: rgba(0,0,0,0.7)
  padding: 0
  font-weight: 300
  line-height: 1.6rem
  font-style: italic
  font-family: $font-family-serif
  .article--singular &
    text-align: center


.article--header-meta
  font-size: 1rem
  color: rgba(0,0,0,0.5)
  .article--singular &
    text-align: center
  .article--header-meta-date
    line-height: 0px
  .article-meta--avatar
    top: 12px
    position: relative

.article--header-categories
  a
    color: $primary-color


.article--content
  margin-top: 0.8rem
  font-family: $font-family-sans-serif
  color: rgba(0,0,0,0.70)
  font-size: 1.2rem
  line-height: 1.75rem
  font-weight: 500
  a:not(.nc_tweet)
    color: $gray-dark
    box-shadow: inset 0 -2px 0 $primary-color
    -webkit-box-shadow: inset 0 -2px 0 $primary-color
    text-decoration: none
    transition: 0.2s background-color
    &:hover
      text-decoration: none
      background-color: $secondary-color

  blockquote
    font-style: italic
    font-size: 2rem
    line-height: 3rem
    p
      border-left: 3px solid rgba(0,0,0,0.8)
  ul
    li
      margin-bottom: 0
      ul
        margin-bottom: 0
        li
            margin-bottom: 0

.article--disclosure
  @extend .lead
  @extend .mt-3
  font-size: 1rem
  border: 1px solid #e5e5e5
  border-radius: 4px
  padding: 4px 10px 10px
  line-height: 1.4prem
  color: #777

  &:before
    content: ''
    background: url('../images/face.png') no-repeat left
    background-size: 46px
    float: left
    -moz-transition: 0.5s all
    -webkit-transition: 0.5s all
    height: 46px
    width: 46px
    margin-right: 1rem
    margin-top: 4px
    transform: rotate(-10deg)
    -moz-transform: rotate(-10deg)
    -webkit-transform: rotate(-10deg)
  &:hover:before
    transform: rotate(5deg)
    -moz-transform: rotate(5deg)
    -webkit-transform: rotate(5deg)

.article--meta
  border-bottom: 1px solid $gray-lightest
  padding: 1rem 0
  color: $gray-light
  p
    margin: 0


.article--author
  border-bottom: 1px solid $gray-lightest
  border-top: 1px solid $gray-lightest
  padding: 1.4rem 0

.article--author-name
  color: rgba(0,0,0,0.8)
  margin: 0
.article--author-description
  font-weight: 400
  font-size: 1rem
  color: rgba(0,0,0,0.7)
  margin-bottom: 0



.article--email
  border-bottom: 1px solid $gray-lightest
  padding: 1.4rem 0

.article--social
  li
    a
      font-weight: 400


.article--with-toc
.article--main, .article--main-content
  position: relative

@media only screen and (max-width: 1640px)
  .article--toc
    display: none

.article--toc
  position: absolute
  max-width: 220px
  width: 330px
  border-right: 1px solid $gray-lightest
  z-index: 10
  top: 0
  margin-top: 150px

  &.active
    position: fixed
  &.past
    bottom: 0
    top: auto
  ol
    list-style-type: none
    li
      font-size: 0.8rem
      a
        border-left: 3px solid transparent
        padding: 0.5rem
        line-height: 1rem
        &.active, &:hover, &.active:hover
          border-left-color: $primary-color
          color: $primary-color
          font-weight: 700
      a
        text-decoration: none
        color: $gray-light
        box-shadow: none !important
        &:hover
          background-color: transparent !important
          color: $gray-light
        &:before
          display: none !important
