.article-single--wrapper
  margin-top: 2rem
  a
    text-decoration: underline
    &:hover
      text-decoration: none

.article--singular
  position: relative
  a
    text-decoration: underline
    &:hover
      text-decoration: none

.article--poster
  max-width: 1100px
  margin: 2rem auto 4rem
  img
    margin: 0 auto
    display: block

.article--header
  margin-bottom: 2rem
  h1
    font-size: 2.4rem
    margin-bottom: 0.3rem
    padding-bottom: 0.6rem
    -webkit-font-smoothing: antialiased
    -webkit-margin-after: 0px
    -webkit-margin-before: 0px
    -webkit-margin-end: 0px
    -webkit-margin-start: -2.5px
    letter-spacing: -1px
    text-rendering: optimizeLegibility

.article-subtitle
  color: rgba(0,0,0,0.7)
  margin: 0.6rem 0
  padding: 0
  font-weight: 300
  line-height: 1.6rem
  font-style: italic
  font-family: $font-family-serif


.article--header-meta
  font-size: 1rem
  color: rgba(0,0,0,0.5)
.article--header-categories
  a
    color: rgba(0,0,0,0.5)


.article--content
  margin-top: 0.8rem
  font-family: $font-family-sans-serif
  color: rgba(0,0,0,0.75)
  font-size: 22px
  line-height: 31px
  font-weight: 500
  h2, h3
    font-weight: 900
  blockquote
    font-style: italic
    font-size: 2rem
    line-height: 2.4rem
    p
      border-left: 3px solid rgba(0,0,0,0.8)
  ul
    li
      margin-bottom: 0.6rem


.article--meta
  border-bottom: 1px solid $gray-lightest
  padding: 1rem 0
  color: $gray-light
  p
    margin: 0


.article--author
  border-bottom: 1px solid $gray-lightest
  padding: 1.4rem 0

.article--author-name
  color: rgba(0,0,0,0.8)
  margin: 0
.article--author-description
  font-weight: 400
  font-size: 1rem
  color: rgba(0,0,0,0.7)
  margin-bottom: 0

.comments
  display: block


.article--email
  border-bottom: 1px solid $gray-lightest
  padding: 1.4rem 0

.article--social
  li
    a
      font-weight: 400
