.article--header-image
  margin-bottom: 1rem
  display: block
  position: relative
  .articles--group &
    max-height: 233px
    overflow: hidden
  .post-thumbnail
    img
      position: relative
      left: 50%
      transform: translateX(-50%)

.article--header-overlay
  background-color: rgba(0,0,0,0.0)
  height: 100%
  width: 100%
  position: absolute
  z-index: 999
  transition: background-color 0.3s
  .article--header-image:hover &
    background-color: rgba(0,0,0,0.25)

.articles--list
  .article--content
    p
      margin-left: 0
      margin-right: 0
  .article--header
    margin-bottom: 1rem
    h2
      font-size: 1.8rem
      margin-bottom: 0.3rem
      padding-bottom: 0.6rem
      -webkit-font-smoothing: antialiased
      -webkit-margin-after: 0px
      -webkit-margin-before: 0px
      -webkit-margin-end: 0px
      -webkit-margin-start: -2.5px
      letter-spacing: -1px
      text-rendering: optimizeLegibility
      a
        color: rgba(0,0,0,0.8)
        text-decoration: none
        &:hover
          text-decoration: underline

@media only screen and (min-width: 768px)
  .articles--list
    .post-thumbnail.thumbnail--small
      height: 235px
      overflow: hidden
      img
        height: 100% !important
        width: auto !important
        max-width: none !important
        left: 50%
        position: relative
        transform: translateX(-50%)

.article-subtitle--small
  font-family: $font-family-sans-serif
  color: rgba(0,0,0,0.7)
  margin: 0.6rem 0
  padding: 0
  font-weight: 300
  line-height: 1.6rem
  font-size: 19px


.articles--group
  margin-top: 3rem

.article--header-categories
  margin-top: 1rem

.articles--recent
  border-top: 1px solid #eee
  margin-top: 1rem
  padding-top: 1rem

.article--comments-count
  z-index: 10
  position: absolute
  top: 11px
  right: 0
  background-color: rgba(0,0,0,0.4)
  padding: 6px 12px
  color: #fff
  font-size: 16px
  font-family: $font-family-sans-serif
  border-top-left-radius: 6px
  border-bottom-left-radius: 6px
