.aside-right,
.aside-left
  width: 22.333333%
  margin-top: 4px
  font-size: 0.8rem
  color: rgba(1,1,1,0.6)

  p
    margin: 0
    padding: 0

.aside-left
  margin-left: -26%
  float: left
  border-right: 1px solid $gray-lightest
  padding-right: 12px
  p
    text-align: right

.aside-right
  margin-right: -26%
  float: right
  border-left: 1px solid #eee
  padding-left: 12px
  p
    text-align: left


@media only screen and (max-width: $large-breakpoint)
  .aside-right, .aside-left
    display: block
    width: auto
    margin: 0.4rem 0
    border: none
    border-left: 1px solid $gray-lightest
    float: none
    p
      text-align: left
