.minimalism--text
  color: $minimalism-dark
a.minimalism--text
  &:hover
    color: darken($minimalism-darker, 20)
.minimalism-darkbg
  background-color: $minimalism
  color: $minimalism-darker
  &:hover
    background-color: $minimalism-darker
    color: $minimalism



.fi--text
  color: $financial-darker
a.fi--text
  &:hover
    color: darken($financial-darker, 20)
.fi-darkbg
  background-color: $financial
  color: $financial-darker
  &:hover
    background-color: $financial-darker
    color: $financial

.stoicism--text
  color: $stoicism-dark
a.stoicism--text
  &:hover
    color: darken($stoicism-darker, 20)
.stoicism-darkbg
  background-color: $stoicism
  color: $stoicism-darker
  &:hover
    background-color: $stoicism-darker
    color: $stoicism
