@media only screen and (max-width: 768px)
  body
    .home--hero-content
      background: url(../images/gate-top.jpg) no-repeat
      background-position-y: 84%
    .home--hero,
    .home--hero-content
      height: 200px !important
    .hero--text
      top: 1rem
      p
        margin-left: 0
        font-size: 1.4rem
        line-height: 1.6rem

.home--hero-content
  background: url(../images/gate-small.jpg) no-repeat
  background-size: cover
  background-position-y: 26%
  margin-bottom: 3rem

.home--hero-content
  height: 330px

.home--text
  position: relative
  color: $gray-dark
  h1, p, a
    color: $gray-dark
  p
    margin-left: 116px
  a
    text-decoration: underline
    &:hover
      text-decoration: none
.hero--text
  position: absolute
  bottom: 1rem

.article--content
  .more-link
    display: block
    font-size: 1.2rem
    width: 180px
    text-align: center
    float: right
    margin-bottom: 2rem


.articles--list-hero
  margin-bottom: 4rem
  padding-left: 0
  padding-right: 0
  .article--content
    .aesop-image-component
      display: none

.recent-posts
  font-size: 1rem
