.home--hero-wrap
  background-color: rgba(0,0,0,0.15)
  position: relative

.home--hero
  background: url(../images/gate.jpeg) no-repeat center center
  background-size: cover
  background-position-y: 63% !important

.home--hero-wrap,
.home--hero
  min-height: 350px

.home--text
  padding-top: 200px
  color: #f6f6f6
  h1
    color: #fefefe
  a
    color: #f6f6f6
    text-decoration: underline
    &:hover
      text-decoration: none
