.home--hero-wrap
  background-color: rgba(0,0,0,0.20)
  position: relative

.home--hero
  background: url(../images/gate.jpeg) no-repeat center center
  background-size: cover
  background-position-y: 63% !important
  margin-bottom: 3rem

.home--hero-wrap,
.home--hero
  min-height: 350px

.home--text
  height: 350px
  position: relative
  color: #f6f6f6
  h1
    color: #fefefe
  p
    color: #fefefe
  a
    color: #fefefe
    text-decoration: underline
    &:hover
      text-decoration: none
.hero--text
  position: absolute
  bottom: 1rem

.article--content
  .more-link
    text-align: right
    display: block
    font-size: 1.2rem

.articles--list-hero
  .article--content
    .aesop-image-component
      display: none
