.home--about
  background-color: $secondary-color
  p
    color: rgba(0,0,0,0.7)
    font-size: 1.2rem
    line-height: 1.8rem

.home--categories
  li
    .home--category-title
      font-size: 1.8rem
    small
      display: block
      font-size: 1rem
      color: rgba(0,0,0,0.6)
    .home-category--description
      font-size: 1.1rem
      color: rgba(0,0,0,0.6)



.articles--list-recent
  p, h2, h2 a
    font-size: 80%


@media only screen and (max-width: 768px)
  .home
    h2
      font-size: 2rem
      small
        display: none
