.navbar
  padding-left: 0
  padding-right: 0
  border-bottom: 1px solid $gray-lightest

  .nav
    margin-top: 0.6rem
    margin-right: 60px
  .nav-link
    color: $gray-dark
    font-weight: 700
    text-decoration: none
    &:hover
      text-decoration: underline

  .dropdown
    &.dropdown--articles
      .dropdown-menu
        &:before,
        &:after
          right: 66px
      .dropdown-menu
        margin-left: -76px
    &.dropdown--highlights
      .dropdown-menu
        &:before,
        &:after
          right: 79px
      .dropdown-menu
        margin-left: -87px
    .dropdown-menu
      visibility: hidden
      display: block
      opacity: 0
      transition: all 0.4s
      -webkit-box-shadow: 2px 4px 16px rgba(0,0,0,.125)
      box-shadow: 2px 4px 16px rgba(0,0,0,.125)
      -webkit-transform: scale(0)
      -moz-transform: scale(0)
      -o-transform: scale(0)
      -ms-transform: scale(0)
      transform: scale(0)
      -webkit-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1)
      -moz-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1)
      -o-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1)
      -ms-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1)
      transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1)
      &:before,
      &:after
        border-left: 11px solid transparent
        border-right: 11px solid transparent
        content: ""
        display: inline-block
        position: absolute
      &:before
        border-bottom: 11px solid rgba(0,0,0,0.12)
        top: -11px
      &:after
        border-bottom: 11px solid #FFFFFF
        top: -10px
    &.show
      .dropdown-menu
        visibility: visible
        opacity: 1
        -webkit-transform: scale(1)
        -moz-transform: scale(1)
        -o-transform: scale(1)
        -ms-transform: scale(1)
        transform: scale(1)
        -webkit-transform-origin: 29px -50px
        -moz-transform-origin: 29px -50px
        -o-transform-origin: 29px -50px
        -ms-transform-origin: 29px -50px
        transform-origin: 29px -50px
  .dropdown-item
    letter-spacing: -0.5px
    padding: 0.2rem 1rem
    text-decoration: none
    &:hover
      text-decoration: underline
@media only screen and (max-width: 767px)
  .navbar .dropdown 
    .dropdown-menu
      visibility: visible
      opacity: 1
      -webkit-transform: scale(1)
      -moz-transform: scale(1)
      -o-transform: scale(1)
      -ms-transform: scale(1)
      transform: scale(1)
      -webkit-transform-origin: 29px -50px
      -moz-transform-origin: 29px -50px
      -o-transform-origin: 29px -50px
      -ms-transform-origin: 29px -50px
      transform-origin: 29px -50px
      &:before,
      &:after
        display: none
      
    &.dropdown--articles,
    &.dropdown--highlights
      .dropdown-menu
        margin-left: 0px
      
@media only screen and (max-width: 767px)
  .navbar
    .nav
      margin-right: 0px
    .dropdown--articles
      .dropdown-menu
        left: -150px !important
        &:before,
        &:after
          right: 5px !important
    .dropdown--highlights
      .dropdown-menu
        left: -100px !important
        &:before,
        &:after
          right: 81px !important

.navbar--main-nav
  margin-right: 64px
// Brand
.navbar-brand
  text-decoration: none
.navbar-brand--text
  color: $gray-dark
  font-size: 2rem
  font-weight: 700
  letter-spacing: 4px
  opacity: 0
  right: -10px
  position: relative
  transition: opacity 0.5s, right 0.5s, letter-spacing 0.2s
  small
    display: block
    font-size: 12px
    letter-spacing: 1px
.navbar-brand:hover
  .navbar-brand--text
    opacity: 1
    right: 0
    letter-spacing: 3px
@media only screen and (max-width: 767px)
  .navbar-brand--text
    opacity: 1
    right: 0
    letter-spacing: 3px
    &:hover
      small
        text-decoration: underline

// Toggler
.navbar-toggler
  color: rgba(0,0,0,.75)
  border-color: rgba(0, 0, 0, 0.15)
  border-top-left-radius: 0px !important
  border-bottom-left-radius: 0px !important
  height: 49px
  margin-top: -1px
  &:hover
    background-color: $gray-dark !important
    color: $gray-lightest
    .navbar-toggler-icon
      background-image: $navbar-dark-toggler-icon-bg
  &:focus
    outline: none
.navbar-toggler-icon
  background-image: $navbar-light-toggler-icon-bg

@media only screen and (max-width: 767px)
  .nav-item--search
    right: 63px !important

@media only screen and (max-width: 767px)
  .nav-item--search
    .search--link    
      border-top-right-radius: 0px !important
      border-bottom-right-radius: 0px !important
.nav-item--search
  position: absolute
  right: 0
  top: 23px
  .search--link
    background-color: transparent
  .search--link,
  .search--form
    display: inline-block !important
  .search--form
    display: inline-block !important
    overflow: hidden
    position: relative
    input
      transition: 1s max-width, 1s left
      max-width: 0px !important
      border-color: transparent
      background-color: #fff
      left: 31px
      z-index: 0 !important
      &:focus
        outline: none !important
        border-color: $gray-lightest
  .search--link
    border-radius: 0.25rem
    border: 1px solid rgba(0, 0, 0, 0.15) !important
    border-color: rgba(0, 0, 0, 0.15) 
    z-index: 1 !important
    position: relative
    background-color: #fff !important
    cursor: pointer
    &:hover
      background-color: $gray-dark !important
      color: $gray-lightest
    &:focus
      outline: none
  &.search--searching
    position: absolute
    right: 0
    transition: absolute 1s
    .search--form
      display: inline-block !important
      input
        max-width: 200px !important
        border-color: rgba(0, 0, 0, 0.15)
        left: 0px
        outline: none
        &:focus
          outline: none
    .search--link
      border-top-left-radius: 0 !important
      border-bottom-left-radius: 0 !important
      border-left: 0 !important
