.navbar
  padding-left: 0
  padding-right: 0
  border-bottom: 1px solid $gray-lightest
  .navbar-brand
    color: $gray-dark
    font-size: 2rem
    font-weight: bold
    transition: 0.3s
    &:hover
      color: $brand-primary

  .nav
    margin-top: 0.6rem
  .nav-link
    color: $gray-dark
    font-weight: 700
    transition: 0.3s
    &:hover
      background-color: $gray
      color: $gray-lighter

  .articles--dropdown
    position: relative


.search--link
  background-color: transparent

.search--link,
.search--form
  display: inline-block !important
.search--form
  display: inline-block !important
  overflow: hidden
  position: relative

  input
    transition: 1s max-width, 1s left
    max-width: 0px !important
    border-color: transparent
    background-color: #fff
    left: 31px
    z-index: 0 !important
    &:focus
      outline: none !important
      border-color: $gray-lightest

.search--link
  border-top-left-radius: 0.25rem !important
  border-bottom-left-radius: 0.25rem !important
  border-left: 1px solid rgba(0, 0, 0, 0.15) !important
  z-index: 1 !important
  position: relative
  background-color: #fff !important
  &:hover
    background-color: $gray-dark !important
    color: $gray-lightest
  &:focus
    outline: none

.search--searching
  .search--form
    display: inline-block !important
    input
      max-width: 200px !important
      border-color: $gray-lightest
      left: 0px
  .search--link
    border-top-left-radius: 0 !important
    border-bottom-left-radius: 0 !important
    border-left: 0 !important
