.sidebar
  p
    line-height: 1.8rem
  h3
    font-size: 1.4rem
  .lead
    a
      text-decoration: underline
      &:hover
        text-decoration: none

.sidebar--group
  margin-bottom: 3rem
  padding: 0 1rem 1rem 1rem
  h3, h2
    border-bottom: 1px solid #ccc
    padding-bottom: 0.4rem
    margin-bottom: 1rem

.sidebar--categories
  font-size: 1.2rem
  li
    color: rgba(0,0,0,0.6)
  a
    color: rgba(0,0,0,0.7)
    &:hover
      text-decoration: none
    &:before
      display: inline-block
      font: normal normal normal 14px/1 FontAwesome
      font-size: inherit
      text-rendering: auto
      -webkit-font-smoothing: antialiased
      content: "\f114"
      padding-right: 0.6rem
      color: rgba(0,0,0,.6)

.sidebar--email
  .lead
    font-size: 1rem
    margin: 0
  label
    font-size: 1.2rem
    color: rgba(0,0,0,0.8)

.sidebar--share
  a
    font-size: 1rem
