.sidebar
  p
    line-height: 1.8rem
  h3
    font-size: 1.4rem

.sidebar--about-text
  color: rgba(0,0,0,0.7)

.sidebar--group
  margin-bottom: 2rem
  padding: 1rem
  background-color: $minimalism-lighter-header
  border-radius: 2px
  // border: 2px solid $minimalism-light

  -webkit-box-shadow: 1px 2px 2px $minimalism-light
  box-shadow: 1px 2px 2px $minimalism-light
  h3, h2
    border-bottom: 1px solid $minimalism-light
    padding-bottom: 0.4rem
    margin-bottom: 1rem

.sidebar--categories, .sidebar--archives
  font-size: 1.2rem
  li
    color: rgba(0,0,0,0.6)

.sidebar--email
  .lead
    font-size: 1rem
    margin: 0
  label
    font-size: 1.2rem
    color: rgba(0,0,0,0.8)

.subscribe
  button
    cursor: pointer


.social--facebook
  max-width: 300px
  overflow: hidden
