.post-widget {
}
.widget--form {
  padding: 1rem;
}
.widget-result {
  /*background-color: #B2E8B9;*/
}
.post-widget input {
  min-width: 120px;
}
.post-widget label {
  font-size: 1.2rem;
  /*color: #258C32;*/
}
.post-widget--large {
  width: 1050px;
  margin: 0 auto;
}

.financial--dark {
  /*background-color: #258C32;*/
}
.financial--dark label, .financial--dark p {
  /*color: #E5FAE8;*/
}


.tangle--dynamic {
  color: #258C32;
}

.TKSwitch .alert {
  display: none;
}
